* {
    z-index: 1;
}
#particles-js {
    width: 99%;
    height: 100vh;
    margin-top: -10px;
    background-color: transparent;
    position: absolute;
    z-index: 0;
    overflow: hidden;
}

.body {
    background-color: transparent;
}
#name {
    font-size: 100px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    color: white;
    text-shadow: 2px 4px 10px rgb(57,255, 20);
    font-family: 'Archivo Black', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0em;
    /* animation: 
      typing 3.5s steps(40, end)  */
}


/* @keyframes typing {
    from { width: 0 }
    to { width: 100% }
} */



.navi {
    margin: 25px;
    width: 260px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    background-color:  black;
    border: white solid 5px;
    color: rgb(57,255, 20);   /* #7ac2b2  */
    border-radius: 10px;
    z-index: 1;
    box-shadow: 2px 2px 10px rgb(57,255, 20);
    font-family: "VT323", sans-serif;
}

.navi:hover {
    filter: brightness(120%);
    box-shadow: 3px 3px 10px rgb(57,255, 20);
    background-color: white;
    color: black;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    z-index: -1;
}
p {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}
a {
    margin-left: 10px;
    z-index: 1;
}
.car-images {
    width: 600px;
    display: inline-flex;
    z-index: 0;
    transition: .5s ease;
    flex: 1;
}
.car-images:hover {
    width: 620px;
}
#imageDiv1 {
    width: 374px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    z-index: 1;
}
.profile-picture {
    width: 500px;
    height: 500px;
    margin-left: 80px;
    display: inline-block;
    margin-right: 50px;
    margin-top: -390px;
    z-index: 2;
}
.about {
    margin-bottom: 30px;
    margin: auto;
}
.title {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    font-size: 50px;
    color: white;
    font-family: "VT323", sans-serif;
    text-shadow: 3px 4px 10px rgb(57,255, 20);
}

.about-text-1 {
    display: inline-block;
    margin-right: 80px;
    width: 500px;
    height: 200px;
    flex: 1;
    flex-direction: column;
}

.skills {
    display: flex;
    justify-content: center;
    font-family: "VT323";
}
.skills-box {
    border: solid 8px white;
    background-color: black;
    width: 200px;
    height: 200px;
    text-align: center;
    display: inline-block;
    margin: 15px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 2px 4px 10px rgb(57,255, 20);
}
.skills-box:hover {
    border: solid 8px white;
    box-shadow: 3px 5px 10px rgb(57,255, 20);
    filter: brightness(110%);
}
.skills-image {
    margin-top: 25px;
    width: 100px;
    height: 100px;
}
.skills-text {
    font-size: 20px;
    color: rgb(57,255, 20)
}
#desc1, #desc3 {
    display: inline-block;
    vertical-align: center;
    padding-top: 17%;
}
#desc2 {
    display: inline-block;
    vertical-align: center;
    padding-top: 12%;
}
#desc4 {
    display: inline-block;
    vertical-align: center;
    padding-top: 10%;
}
.portfolio {
    display: inline-flex;
    height: 750px;
    width: 100%;
    z-index: 1;
    justify-content: center;
    text-align: center;
}
.column{
    justify-content: center;
    width: 50%;
}

.about-links {
    display: flex;
    justify-content: center;
}

.chatbot-img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.chatbot-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 25px;
    background-color: black;
    border: 3px white solid;
    border-radius: 4px;
    box-shadow: 3px 3px 10px rgb(57,255, 20);
    color: rgb(57,255, 20);
    font-family: "VT323";
    font-size: 15px;
}
.chatbot-text {
    font-family: "VT323";
    color: white;
    font-size: 25px;
    margin-right: 10px;
    margin-left: 10px;
}
.chatbot-submit {
    margin: 25px;
    width: 260px;
    height: 50px;
    font-weight: bold;
    background-color: black;
    color: white;
    border: white 5px solid;
    border-radius: 10px;
    z-index: 1;
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-family: "VT323";
}
.chatbot-submit:hover {
    box-shadow: 2px 4px 10px rgb(57,255, 20);
}
.chatbot-border {
    border: 3px white solid;
    box-shadow: 2px 2px 10px rgb(57,255, 20);
    border-radius: 10px;
    width: 700px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    margin-top: 40px;
} 
.input-name, .input-email, .input-message {
    display: block;
    align-items: center;
    width: 500px;
    height: 50px;
    margin: 30px;
    background-color: black;
    border:white solid 3px;
    color: white;
    font-family: "VT323";
    box-shadow: 3px 3px 10px rgb(57,255, 20);
    font-size: 25px;
}
.chatbot-input {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-submit {
    display: block;
    margin-inline: auto;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    font-family: "VT323";
    background-color: black;
    border: white solid 2px;
    color: rgb(57,255, 20);
    box-shadow: 2px 2px 5px rgb(57,255, 20);
}
.input-submit:hover {
    box-shadow: 2.5px 2.5px 8px rgb(57,255, 20);
    background-color: white;
    color: black;
}
.submit-button {
    background-color: black;
    box-shadow: 2px 2px 5px rgb(57,255, 20);
    color: white;
    font-family: "VT323";
    width: 100px;
    height: 35px;
    border: white solid 2px;
    border-radius: 10px;
    display: block;
    margin-top: 15px;
    font-size: 15px;
    margin-inline: auto;
    margin-bottom: -10px;
}
.submit-button:hover {
    background-color: white;
    color: black;
    box-shadow: 3px 3px 5px rgb(57,255, 20);
}
::placeholder {
  color: white;
  opacity: .5;
  font-family: "VT323";
}
.form-div {
    display: inline-block;
    max-width: fit-content;
    background-color: black;
    padding: 10px;
    border: 5px solid white;
    margin-top: 50px;
    border-radius: 10px;
    margin-left: 500px;
}
html {
    background: black;
    height: 100%;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
.nyan-cat {
    margin-bottom: 80px;
    width: 300px;
    padding-right: 50px;
}
.contact-info {
    max-width: fit-content;
    margin-inline: auto;
}
.party {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
}
.partyText{
    text-align: center;
    z-index: 1;
}


